name: Deploy to AWS Lambda function

on:
  push:
    paths:
      - "src/**"
    branches: [Main]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Install zip tool
      uses: montudor/action-zip@v1

    - name: Zip Lambda function
      run: zip -r function.zip .  # Adjust the command based on your Lambda function structure

    # - name: Deploy to AWS Lambda
    #   uses: aws-actions/aws-lambda-deploy@v1
    - name: Deploy to AWS Lambda
      uses: imehedi/actions-awscli-v2@latest
      with:
        args: "lambda update-function-code \
        --function-name arn:aws:lambda:us-east-2:418272791131:function:Energyhub \
        --zip-file fileb://function.zip"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-east-2'  # Replace with your AWS region 
